body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: darkcyan;

}

#main-play-area {
    background-color: black;
    background-image: url(../assets/imgs/space.png);
    height: 600px;
    width: 600px;
    
}